<!DOCTYPE html>
<html
  lang="{{lang}}"
  class="zs-static"
>
<head>
  <meta
    http-equiv="X-UA-Compatible"
    content="ie=edge"
  >
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width,initial-scale=1.0"
  >
  <link
    rel="shortcut icon"
    href="/images/favicon.png"
  >
  <style>{{{style}}}</style>
  <script>{{{scriptLoader}}}</script>
  <title>{{title}}</title>
</head>
<body>

<div id="zs-app">
  <div id="zs-static">
    <!-- Conservative static fallback content -->
    <table>
      <tr>
        <td>
          <div>
            <s>Zaaksysteem.nl</s>
            <hr>
            <div>
              <a
                href="//help.zaaksysteem.nl"
                target="_blank"
              >Support</a>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<script>{{{failSafe}}}</script>

</body>
</html>
